/* Header styles */
:root{
  --primaryColor: #007BFF; /* 3442A7 2d5feb*/
  --primaryBlue: rgb(0, 147, 215);
  --text: #1D2130;
}
body {
    background-color: #dedede5f;
}
.header__content--adivce {
  position: relative;
}

.header__content--adivce::before {
  content: '';
  position: absolute;
  background: url('../images/frame.png');
  background-position: center;
  background-size: contain;
  inset: 0;
  filter: opacity(0.4);
  pointer-events: none; 
}
.footer__section {
  position: relative;
}
.footer__section::before{
  content: '';
  position: absolute;
  background: url('../images/frame.png');
  background-size: contain;
  inset: 0;
  filter: opacity(0.2);
  pointer-events: none; 
}
.dropdown__item {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);  
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none; 
  margin-top: 17px;
}

.dropdown__menu:hover .dropdown__item {
  visibility: visible;
  opacity: 1;
  transform: translateY(0); 
  pointer-events: auto; 
}

.header__service-link:hover, .header__menu-link:hover{
    color: var(--primaryColor);
}
.need_support{
  position: relative;
}
.need_support::before {
  content: '';
  position: absolute;
  background: url('../images/frame.png');
  background-position: center;
  background-size: contain;
  inset: 0;
  filter:  opacity(0.3);
  pointer-events: none; 
}

.footer_top--btn{
  box-shadow: 0 0 10px 7px rgba(255, 255, 255, 0.5);
}
:hover{
  transition: all 77ms ease-in-out;
  transition-duration: 150ms;
}
.Breadcrumb{
    display: flex;
    align-items: center;
    height: 52px;
    overflow-x: hidden;
    overflow-y: hidden;
    border-radius: .3rem;
    border-width: 1px;
    border-color: rgb(245 245 245 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    --tw-border-opacity: 1;
}
.Breadcrumb__item{
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    flex-shrink: 0;
    padding-left: .5rem;
    padding-right: 44px;
}
.Breadcrumb__item:first-child {
    padding-left: 13px;
    padding-right: 17px;
}
.Breadcrumb__item::before,
.Breadcrumb__item::after{
    content: '';
    position: absolute;
    height: 5px;
    border-radius: 10px;
    transform-origin: bottom;
    background: #F3F4F6;
}
.Breadcrumb__item::before {
    width: 46px;
    bottom: 8px;
    left: -34px;
    transform: rotate(45deg);
}
.Breadcrumb__item::after {
    width: 44px;
    top: 8px;
    left: -29px;
    transform: rotate(-45deg);
}