/* Header styles */
:root{
  --primaryColor: #000000; /* 3442A7 2d5feb*/
  --text: #1D2130;
}
body {
    background-color: #d9d9d95f;
}
.header__content--adivce {
  position: relative;
}

.header__content--adivce::before {
  content: '';
  position: absolute;
  background: url('../images/frame.png');
  background-position: center;
  background-size: contain;
  inset: 0;
  filter: opacity(0.4);
  pointer-events: none; 
}
.footer__section {
  position: relative;
}
.footer__section::before{
  content: '';
  position: absolute;
  background: url('../images/frame.png');
  background-size: contain;
  inset: 0;
  filter: opacity(0.2);
  pointer-events: none; 
}
.dropdown__item {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);  
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none; 
  margin-top: 17px;
}

.dropdown__menu:hover .dropdown__item {
  visibility: visible;
  opacity: 1;
  transform: translateY(0); 
  pointer-events: auto; 
}

.header__service-link:hover, .header__menu-link:hover{
    color: var(--primaryColor);
}
.need_support{
  position: relative;
}
.need_support::before {
  content: '';
  position: absolute;
  background: url('../images/frame.png');
  background-position: center;
  background-size: contain;
  inset: 0;
  filter:  opacity(0.3);
  pointer-events: none; 
}

.footer_top--btn{
  box-shadow: 0 0 10px 7px rgba(255, 255, 255, 0.5);
}
:hover{
  transition: all 77ms ease-in-out;
  transition-duration: 150ms;
}