@import "tailwindcss";

:root{
  --primaryColor: #2d5feb;
  --text: #1D2130;
}

@layer base {  
  body {
    overflow-x: hidden;
    background-color: #E9F2FF; /* FBF3F0  ECF2F7*/
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* Start helper class */
  .flex-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* Finish helper class */
  .container {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }

  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
      padding-left: 5rem;
      padding-right: 5rem;
    }
  }

  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }

  @media (min-width: 1536px) {
    .container {
      max-width: 1536px;
    }
  }
}

@layer components{

}

@theme {
  --breakpoint-xsm: 480px;   /* Extra small screens (mobile) */
  --breakpoint-sm: 640px;    /* Small devices (phones) */
  --breakpoint-md: 768px;    /* Medium devices (tablets) */
  --breakpoint-lg: 1024px;   /* Large devices (small laptops) */
  --breakpoint-xl: 1280px;   /* Extra large screens (desktops) */
  --breakpoint-hd: 1536px;   /* Full HD monitors (1080p) */
  --breakpoint-4k: 2560px;   /* 4K displays */
  --breakpoint-8k: 7680px;   /* 8K ultra-high-resolution displays */
  --text-md: 16px;
  --shadow-Main: 0 0 7px 0px rgb(55 55 55 / 23%);
}

/* Header styles */
.header__content--adivce {
  position: relative;
}

.header__content--adivce::before {
  content: '';
  position: absolute;
  background: url('../public/images/frame.png');
  background-position: center;
  background-size: contain;
  inset: 0;
  filter: blur(0.5px);
  pointer-events: none; 
}

.dropdown__item {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);  
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none; 
}

.dropdown__menu:hover .dropdown__item {
  visibility: visible;
  opacity: 1;
  transform: translateY(0); 
  pointer-events: auto; 
}

.header__service-link:hover, .header__menu-link:hover{
    color: var(--primaryColor);
}


