@import "tailwindcss";

@layer base {  
  body {
    overflow-x: hidden;
    background-color: #FBF3F0;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* Start helper class */
  .flex-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-col-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  /* Finish helper class */
  .container {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }

  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
      padding-left: 5rem;
      padding-right: 5rem;
    }
  }

  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }

  @media (min-width: 1536px) {
    .container {
      max-width: 1536px;
    }
  }
  footer{
    box-shadow: 0px 55px 77px 7px #C10007 !important;
  }
}

@layer components{
    /* button{
      @apply border border-slate-950 w-[77px] rounded-full hover:bg-slate-950 hover:text-white cursor-pointer transition-all duration-75 ease-in-out
    } */
    footer{
      @apply bg-white shadow-lg border border-gray-100 rounded-tr-[107px] rounded-tl-[107px] relative px-10 pt-26 pb-5;
    }
    input{
      @apply outline-none
    }
}

@theme {
  /* Media screens */
  --breakpoint-xsm: 480px;   /* Extra small screens (mobile) */
  --breakpoint-sm: 640px;    /* Small devices (phones) */
  --breakpoint-md: 768px;    /* Medium devices (tablets) */
  --breakpoint-lg: 1024px;   /* Large devices (small laptops) */
  --breakpoint-xl: 1280px;   /* Extra large screens (desktops) */
  --breakpoint-hd: 1536px;   /* Full HD monitors (1080p) */
  --breakpoint-4k: 2560px;   /* 4K displays */
  --breakpoint-8k: 7680px;   /* 8K ultra-high-resolution displays */
  /* Shadows */
  --shadow-Main: 0 0 7px 0px rgb(55 55 55 / 33%);
  --color-primary: #C30E2E;
  --color-text: #64748B;
}

.contact-us {
  position: relative;
  background-image: url('../../public/images/header.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 555px;
}
.contact-us::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); 
  filter: blur(10px); 
  z-index: 1; 
}

.contact-us > * {
  position: relative;
  z-index: 2; 
}

.contact_us-form{
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
}


